.header {
	background-color: $green;
	height: 60vh;
	text-align: center;

	.wrapper {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
	}

	h1 {
		font-size: 45px;
		margin-bottom:25px;
		color: $white;
	}
}

.input-search {
	border: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 10px;
	width: 30%;
	margin: 0 auto;
	background-color: #fafafa;
	font-size:25px;
	vertical-align: middle;

	&:focus {
		outline: none;
	}
}

.btn-search {
	cursor: pointer;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 0 25px;
	border: none;
	height: 50px;
	background-color: $blue;
	vertical-align: middle;
	&:focus {
		outline: none;
	}
}

.fa-search {
	font-size: 20px;
	color: $white;
}