.header {
	background-color: #2ec4b6;
    height: 70vh;
    text-align: center;
    position: relative;
    z-index: 2;
    transform: skewY(-2deg) translateY(-10vh);
    z-index: 4;

	.wrapper {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-5%) skewY(2deg);
		   -moz-transform: translateY(-5%) skewY(2deg);
		    -ms-transform: translateY(-5%) skewY(2deg);
		     -o-transform: translateY(-5%) skewY(2deg);
		        transform: translateY(-5%) skewY(2deg);
	}

	h1 {
		font-size: 40px;
		margin-bottom:25px;
		color: $white;
	}
}

.input-search {
	border: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 15px;
	width: 30%;
	margin: 0 auto;
	background-color: #fafafa;
	font-size:22px;
	vertical-align: middle;

	&:focus {
		outline: none;
	}
}

.btn-search {
	cursor: pointer;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 0 25px;
	border: none;
	height: 56px;
	background-color: $blue;
	vertical-align: middle;
	&:disabled {
		cursor: auto;
		background-color: grey;
	}
	&:focus {
		outline: none;
	}
}

.fa-search {
	font-size: 20px;
	color: $white;
}