.reddits {
	margin: 0 auto;
	width: 90%;
}

.reddit-column {
	text-align: left;
}

.external-link {
	font-size: 20px;
	color: #757575;

	&:hover,
	&:visited {
    color: #757575;
	}
}

.fa-frown {
	color: $blue;
	font-size: 30px;
	margin-bottom: 20px;
}