.header {
	background-color: #2ec4b6;
  height: 70vh;
  text-align: center;
  position: relative;
  z-index: 2;
  transform: skewY(-2deg) translateY(-10vh);
  z-index: 4;

	.wrapper {
		padding: 0 50px;
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-5%) skewY(2deg);
		   -moz-transform: translateY(-5%) skewY(2deg);
		    -ms-transform: translateY(-5%) skewY(2deg);
		     -o-transform: translateY(-5%) skewY(2deg);
		        transform: translateY(-5%) skewY(2deg);
	}
	@media (min-width: 540px) {
		padding: 0 20px;
	}

	h1 {
		font-size: 30px;
		margin-bottom:20px;
		color: $white;
		@media (min-width: 768px) {
			font-size: 40px;		
			margin-bottom:25px;
		}
	}
}

.input-search {
	border: none;
	background-color: #fafafa;
	font-size: 15px;
	vertical-align: middle;
	width: 100%;
	padding: 10px 0 10px 0px;
	box-sizing: border-box;
  text-align: center;
	@media (min-width: 540px) {
		border-top-left-radius: 5px;
	  border-bottom-left-radius: 5px;
	  width: 60%;
	  padding: 15px;
	  font-size: 22px;
	  text-align: left;
	}

	@media (min-width: 768px) {
		width: 70%;
	}

	@media (min-width: 992px) {
	  width: 30%;
	  margin: 0 auto;
	}

	&:focus {
		outline: none;
	}
}

.btn-search {
	cursor: pointer;
	padding: 0 20px;
	border: none;
	height: 40px;
	background-color: $blue;
	vertical-align: middle;
	display: block;
	width: 100%;
	&:disabled {
		cursor: auto;
		background-color: grey;
	}
	&:focus {
		outline: none;
	}

	@media (min-width: 540px) {
		border-top-right-radius: 5px;
	  border-bottom-right-radius: 5px;
		height: 56px;
		display: inline;
		width: auto;
	}

	span {
		text-align: center;
		color: $white;
		font-size: 15px;
		@media (min-width: 540px) {
			display: none;
		}

	}
}

.fa-search {
	font-size: 20px;
	color: $white;
}