/* Coolors Exported Palette - coolors.co/011627-f5bb00-ee2124-fdfffc-2ec4b6 */

/* RGB */
$blue: rgba(1, 22, 39, 1);
$yellow: rgba(245, 187, 0, 1);
$red: rgba(238, 33, 36, 1);
$white: rgba(253, 255, 252, 1);
$green: rgba(46, 196, 182, 1);